/** Your theme modifications here **/
.navbar-brand{padding-top:0px}
.logo{
	width: 210px;
}
.error-wrap{
  color:red;
  font-size:12px;
  margin-bottom:4px;
}

input[type=text], 
input[type=password], 
select
 {
    font-size: 14px;
    padding: 8px;
}

.mobile-fb-like{
	margin: 5%;
    text-align: center;
    padding: 10px;
    background: rgb(238,233,233);
    background: rgba(238,233,233, .5);
    border: 1px solid #cacaca;
}

.mobile-fb-like > h4 > a > img{
	width:50px;
	border-radius:50%;
}
.highlight{
	font-weight: bold;
	color:#5cb85c;
}

#fb-div{
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 20px;
    padding:20px;
    background: rgb(238,233,233); /* Fall-back for browsers that don't*/
    background: rgba(238,233,233, .5);
    border:1px solid #cacaca;
}

.rate-container{text-align:center}
.rate-container .btn-group > label{opacity:.5}

.rate-container .btn-group > label:hover, 
.rate-container .btn-group > label.active
{opacity:1}


#navigation a.active{
    color: #fff !important;
    background-color: #6eb752;
} 
#navigation a.active:hover, #navigation li.active:hover{
    color: #000 !important;
} 


#top .badge {
  display: block;
  position: absolute;
  top: -4px;
  right: -8px;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}

.red{background:red}