/** Your theme modifications here **/
.navbar-brand{padding-top:0px}
.logo{
	width: 210px;
}
.error-wrap{
  color:red;
  font-size:12px;
  margin-bottom:4px;
}

input[type=text], 
input[type=password], 
select
 {
    font-size: 14px;
    padding: 8px;
}