/** Your theme modifications here **/
.navbar-brand{padding-top:0px}
.logo{
	width: 210px;
}
.error-wrap{
  color:red;
  font-size:12px;
  margin-bottom:4px;
}

input[type=text], 
input[type=password], 
select
 {
    font-size: 14px;
    padding: 8px;
}

.mobile-fb-like{
	margin: 5%;
    text-align: center;
    padding: 10px;
    background: rgb(238,233,233);
    background: rgba(238,233,233, .5);
    border: 1px solid #cacaca;
}

.mobile-fb-like > h4 > a > img{
	width:50px;
	border-radius:50%;
}